@import "variables.less";
@import "mixins.less";
@import "selectize";
@import "selectize.bootstrap3.less";
@import "daterangepicker";

//forms items >>

.form-control {
  background: transparent;
  border-color: #61697a;
  color: #fff;
  box-shadow: none !important;
}

//<< forms items

.btn-remove {
  border-radius: 50%;
  background: #c9000f;
  width: 13px;
  height: 13px;
  display: block;
  &:hover, &:focus {
    background: #e80010;
  }
}

.btn-rounded {
  border-radius: 50px;
}

.btn-default-iverse {
  background: transparent;
  border: 1px solid #5f6a7f !important;
  color: #fff;
  &:hover, &:focus {
    background: #fff;
    color: @brand-primary;
  }
}

.btn-info-inverse {
  background: transparent;
  border: 1px solid @brand-info !important;
  color: @brand-info;
  &:hover, &:focus {
    background: @brand-info;
  }
}

.btn-arrow {
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    height: 20px;
    width: 30px;
    right: 20px;
    top: 50%;
    margin-top: -10px;
    outline: 1px solid red;
  }
}

body {
  background: #f1f1f1;
}

.white-container {
  background: #fff;
  padding-bottom: 60px;
  margin-bottom: -30px;
  padding-top: 20px;
}

.navbar-brand {
  padding-top: 25px;
  padding-bottom: 0;
  img {
    width: 215px;
  }
}

.navbar {
  margin-bottom: 0;
}

.footer-box {
  background: #fff;
  padding-top: 80px;
  margin-top: 35px;
  .footer-top {
    margin-bottom: 5px;
    @media screen and (min-width: @screen-md) {
      margin-bottom: 45px;
    }
    .footer-top-header {
      font-size: 30px;
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: 15px;
      padding-top: 15px;
      @media screen and (min-width: @screen-md) {
        padding-top: 0;
        margin-bottom: 30px;
      }
    }
    .social-box {
      height: 70px;
      margin-bottom: 15px;
      @media screen and (min-width: @screen-md) {
        margin-bottom: 0;
      }
      a {
        display: block;
        height: 100%;
        position: relative;
        padding-left: 95px;
        color: @brand-info;
        font-size: 24px;
        font-weight: 300;
        line-height: 70px;
        &:before {
          content: '';
          width: 72px;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          outline: 1px solid #999;
          border-bottom: 2px solid @brand-info;
        }
        &:hover, &:focus {
          text-decoration: none;
        }
      }
    }
    .footer-top-contact {
      table {
        margin-top: 22px;
        width: 100%;
      }
    }
  }
  .footer-middle {
    padding-top: 5px;
    margin-bottom: 25px;
    @media screen and (min-width: @screen-md) {
      padding-top: 45px;
    }
    .footer-middle-title {
      font-size: 18px;
      text-transform: uppercase;
      padding-top: 15px;
      padding-bottom: 15px;
      @media screen and (min-width: @screen-md) {
        padding-bottom: 25px;
        padding-top: 0;
      }
    }
    .footer-middle-list {
      ul {
        padding: 0;
        margin: 0;
        li {
          list-style: none;
          a {
            color: #666666;
            &:hover, &:focus {
              text-decoration: none;
              color: @brand-info;
            }
          }
        }
      }
    }
  }
  .footer-bottom {
    padding-top: 25px;
    margin-bottom: 64px;
    color: #666666;
    a {
      color: #666666;
      &:hover, &:focus {
        color: @brand-info;
        text-decoration: none;
      }
    }
    .small-logo {
      width: 20px;
      height: 18px;
      display: inline-block;
      margin-right: 10px;
      float: left;
      background: url('../img/logo.png') no-repeat 0 0;
      background-size: 115px;
      margin-top: 1px;
    }
    .design-by {
      width: 22px;
      height: 18px;
      display: inline-block;
      margin-left: 10px;
      float: right;
      background: url('../img/designBy.png') no-repeat 0 0;
      margin-top: 2px;
    }
  }
}

.content {
  min-height: 500px;
  outline: 1px solid red;
}

//order header box >>

.order-header-box {
  text-transform: uppercase;
  text-align: center;
  color: #000;
  h1 {
    font-size: 25px;
    font-weight: bold;
    @media screen and (min-width: @screen-sm) {
      font-size: 48px;
    }
  }
  .order-header-box-more-info {
    font-weight: 300;
    font-size: 13px;
    margin-top: 26px;
    @media screen and (min-width: @screen-sm) {
      font-size: 16px;
    }
    span {
      display: block;
      padding: 0 5px;
      position: relative;
      letter-spacing: 3px;
      @media screen and (min-width: @screen-sm) {
        display: inline-block;
        padding: 0 25px;
      }
      @media screen and (min-width: @screen-sm) {
        &:before {
          content: '|';
          position: absolute;
          top: -1px;
          left: 0;
        }

        &:first-child {
          &:before {
            content: '';
          }
        }
      }
    }
  }
}

// << order header box
//order steps >>

.order-steps {
  margin-top: 45px;
  ul {
    list-style: none;
    display: block;
    width: 100%;
    text-align: center;
    .clearfix();
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      width: 25%;
      height: 120px;
      background: #f1f1f1;
      float: left;
      @media screen and (min-width: @screen-sm) {
        width: 20%;
      }
      @media screen and (max-width: 525px) {
        height: 40px;
        width: 50%;
      }
      a {
        display: block;
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        position: relative;
        color: #777777;
        font-size: 12px;
        text-decoration: none;
        .order-steps-icon {
          width: 105px;
          height: 45px;
          outline: 1px solid red;
          display: inline-block;
          text-align: center;
          margin-top: 27px;
          margin-bottom: 2px;
          @media screen and (max-width: 525px) {
            display: none;
          }
        }
        @media screen and (max-width: 525px) {
          .order-steps-text {
            line-height: 40px;
          }
        }
        @media screen and (min-width: @screen-md) {
          &:after, &:before {
            content: '';
            display: block;
            position: absolute;
            right: -20px;
            top: 0;
            z-index: 9;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 60px 0 60px 20px;
            border-color: transparent transparent transparent #f1f1f1;
          }

          &:before {
            border-color: transparent transparent transparent #dbdbdb;
            right: -21px;
          }
        }
      }
      &.active {
        a {
          background: @brand-info;
          color: #fff;
          &:after, &:before {
            border-color: transparent transparent transparent @brand-info;
          }
          &:before {
            border-color: transparent transparent transparent #fff;
            display: block;
          }
        }
      }
      &.active.active-last {
        a {
          &:before {
            display: none;
          }
          &:after {
            right: -20px;
          }
        }
      }
      &.first {
        width: 100%;
        height: 60px;
        border-bottom: 2px dashed #777;
        @media screen and (min-width: @screen-sm) {
          border-right: 2px dashed #777;
          border-bottom: none !important;
          width: 20%;
          height: 120px;
        }
        @media screen and (max-width: (@screen-sm - 1)) {
          a {
            .order-steps-icon {
              font-size: 20px;
              height: auto;
              width: auto;
              margin-right: 5px;
              display: inline-block !important;
              margin-top: 0;
              line-height: 60px;
            }
            .order-steps-text {
              display: inline-block;
              font-size: 20px;
              font-weight: 300;
              line-height: 60px;
            }
          }
        }
        .order-steps-icon {
          font-size: 30px;
          font-weight: 300;
        }
        &.active {
          border-bottom: 2px dashed @brand-info;
          @media screen and (min-width: @screen-sm) {
            border-bottom: none;
            border-right: 2px dashed @brand-info;
          }
          a {
            &:after, &:before {
              display: none;
            }
          }
        }
      }
      &.last {
        .order-steps-text {
          font-size: 30px;
          font-weight: 300;
          line-height: 120px;
          @media screen and (max-width: 525px) {
            line-height: 40px;
            font-size: 20px;
          }
        }
        a {
          &:after, &:before {
            display: none;
          }
        }
      }
    }
  }
}

// << order steps

// cart-box >>

.cart-box {
  .main {
    background: #fff;
    color: #000;
    .box-shadow(0 0 20px 0 rgba(0, 0, 0, 0.3));
    .cart-box-header {
      background: @brand-warning;
      position: relative;
      padding: 25px 20px;
      .clearfix();
      .cart-box-price {
        float: right;
        text-align: right;
        line-height: 1;
        font-size: 24px;
        font-weight: 300;
      }
      .cart-box-icon {
        width: 35px;
        height: 30px;
        outline: 1px solid red;
        float: left;
      }
      .box-arrow-bottom {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 7px 0 7px;
        border-color: @brand-warning transparent transparent transparent;
        bottom: -7px;
        left: 50%;
        margin-left: -7px;
      }

    }
    .cart-box-content {
      padding: 30px 0 30px 20px;
      .cart-box-content-head {
        line-height: 1;
        padding-bottom: 20px;
      }
      .cart-box-content-list {
        width: 100%;
        .price {
          font-weight: bold;
          font-style: italic;
        }
      }
    }
    .cart-box-footer {
      padding: 0 20px 10px;
      .btn {
        height: 50px;
        line-height: 50px;
        padding: 0;
        box-shadow: none !important;
      }
      .btn-default {
        color: @brand-info;
        border: none !important;
        background: #fff !important;
        &:hover, &:focus {
          text-decoration: underline;
        }
      }
    }
  }
  .stadium {
    background: #fff;
    color: #000;
    margin-top: 20px;
    text-align: center;
    position: relative;
    img {
      max-width: 100%;
    }
    a {
      display: block;
      &:after,
      &:before {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 21px;
        height: 21px;
        content: '';
      }
      &:before {
        border-radius: 50%;
        background: #d7e5ff;
        color: @brand-info;
      }
      &:after {
        content: 'i';
        color: @brand-info;
        text-align: center;
        font-size: 14px;
        font-style: italic;
        font-weight: 800;
        line-height: 21px;
        right: 11px;
      }
      &:hover,&:focus{
        &:before{
          background: @brand-info;
        }
        &:after{
          color: #fff;
        }
      }
    }
  }
}

// << cart-box

//order-filter >>
.order-filter {
  background: @brand-primary;
  margin-bottom: 10px;
  margin-top: 10px;
  @media screen and (min-width: @screen-md) {
    margin-top: 0;
  }
  //order-filter-state-1-content >>
  .order-filter-state-content {
    padding: 20px;
    color: #fff;
    .clearfix();
  }
  .order-filter-state-1-content {

    .box {
      float: left;
      padding-left: 25px;
      position: relative;
      width: 50%;
      @media screen and (min-width: 526px) {
        width: 25%;
      }
      &:after {
        content: '';
        position: absolute;
        right: -5px;
        top: 0;
        height: 100%;
        width: 1px;
        background: #656d7d;;
      }
      table {
        width: 100%;
        th {
          font-size: 14px;
          font-weight: normal;
          @media screen and (min-width: @screen-sm) {
            font-size: 16px;
          }
          &.arrow {
            width: 30px !important;
          }
        }
        td {
          font-size: 12px;
        }
      }
    }
    .box-1 {
      padding-left: 0;
    }
    @media screen and (max-width: 525px) {
      .box {
        &:after {
          right: 0;
        }
      }

      .box-2 {
        padding-bottom: 5px;
        &:after {
          display: none;
        }
      }

      .box-3 {
        padding-left: 0;
      }

      .box-4 {
        padding-top: 0;
      }
    }
    @media screen and (min-width: @screen-sm) {
      .box-1 {
        width: 125px;
        padding-left: 0;
      }

      .box-2 {
        width: 160px;
      }

      .box-3 {
        width: 120px;
      }

      .box-4 {
        width: 100px;
      }
    }
    .box-4 {
      &:after {
        display: none;
      }
    }
    .box-5 {
      width: 100%;
      text-align: center;
      padding-left: 0;
      padding-top: 15px;
      @media screen and (min-width: @screen-sm) {
        text-align: right;
        float: right;
        width: auto;
        padding-top: 0;
      }
      .btn {
        height: 40px;
        width: 100%;
        @media screen and (min-width: @screen-sm) {
          min-width: 100px;
        }
        @media screen and (min-width: @screen-lg) {
          min-width: 155px;
        }
      }
      &:after {
        display: none;
      }
    }
  }

  //<< order-filter-state-1-content

  //order-filter-state-2-content >>

  .order-filter-state-2-content {
    position: relative;
    @media screen and (min-width: @screen-md) {
      padding-left: 120px;
    }
    .box-1 {
      @media screen and (min-width: @screen-md) {
        width: 105px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    @media screen and (min-width: @screen-md) {
      > .row {
        margin-left: -5px;
        margin-right: -5px;
        > div {
          padding-left: 5px;
          padding-right: 5px;
        }
      }

      .box-2, .box-3, .box-4, .box-5 {
        width: 141px;
      }

      .box-6 {
        width: 110px;
      }

      .box-7 {
        width: 110px;
      }

      .box-8 {
        width: 150px;
      }

      .box-9 {
        width: 150px;
      }

      .box-10 {
        width: 150px;
      }
    }
    @media screen and (min-width: @screen-lg) {
      .box-2, .box-3 {
        width: 208px;
      }

      .box-4, .box-5 {
        width: 150px;
      }

      .box-6 .box-7 {
        width: 110px;
      }

      .box-8, .box-9, .box-10 {
        width: 150px;
      }
    }

    .specialRadio {
      width: 50%;
      float: left;
      text-align: center;
      text-transform: uppercase;
      label {
        cursor: pointer;
      }
      input {
        display: none;
      }
      input:checked + label {
        color: @brand-info;
      }
      @media screen and (min-width: @screen-sm) {
        text-align: left;
        label {
          padding-top: 5px;
        }
      }
      @media screen and (min-width: @screen-md) {
        height: 50%;
        width: 100%;
        display: block;
        margin: 0;
        border-right: 1px solid #61697a;
        label {
          height: 100%;
          width: 100%;
          display: block;
          text-align: center;
          color: #d7e5ff;
          padding: 0;
          margin: 0;
          line-height: 71px;
          position: relative;
        }

        input:checked + label {
          color: #fff;
          &:after, &:before {
            content: '';
            display: block;
            position: absolute;
            right: -7px;
            top: 50%;
            margin-top: -6px;
            z-index: 9;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7px 0 7px 7px;
            border-color: transparent transparent transparent @brand-primary;
          }
          &:before {
            border-color: transparent transparent transparent #61697a;
            right: -8px;
          }
        }
      }
    }
  }

  //<<   order-filter-state-2-content

}

//<< order-filter

//order-list-header >>

.order-list-header {
  width: 100%;
  background: #fff;
  padding: 15px 20px;
  border-bottom: 1px solid #cccccc;
  button {
    border: none;
    background: transparent;
    color: @brand-info;
    padding: 0;
    text-transform: uppercase;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      right: -25px;
      top: 0;
      width: 20px;
      height: 20px;
      outline: 1px solid @brand-info;
    }
  }
  @media screen and (min-width: @screen-md) {
    .col-1 {
      width: 311px;
    }

    .col-2 {
      width: 105px;
    }

    .col-3 {
      width: 105px;
    }
  }
}

//<< order-list-header

//order-list-item >>

.order-list-item {
  padding: 20px;
  border-bottom: 1px solid #ccc;
  &:nth-child(even) {
    background: #fff;
  }

  table {
    width: 100%;
    td {
      padding: 7px 0;
    }
    > thead {
      td {
        font-weight: bold;
        color: @brand-info;
      }
    }
    > tbody {
      color: #000;
      .col-1,
      .col-3,
      .col-4 {
        font-weight: bold;
      }
      .col-6,
      .col-7 {
        color: #777;
      }
      .col-6 {
        min-width: 95px;
      }
      .order-list-price {
        height: 50px;
        width: 90px;
        position: relative;
        background: @brand-info;
        color: #fff;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        font-size: 18px;
        line-height: 50px;
        &:before {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 7px 7px 7px 0;
          border-color: transparent @brand-info transparent transparent;
          position: absolute;
          left: -7px;
          top: 50%;
          margin-top: -7px;
        }
      }
      .col-9 {
        button {
          width: 125px;
          height: 40px;
          padding: 0;
        }
        @media screen and (max-width: (@screen-sm - 1)) {
          display: none;
        }
      }

      //@media screen and (min-width: @screen-md) {
      .col-1 {
        width: 74px;
      }
      .col-2 {
        width: 42px;
      }
      .col-3 {
        width: 30px;
      }
      .col-4 {
        width: 74px;
      }
      .col-5 {
        width: 62px;
      }
      .col-6 {
        width: 110px;
      }
      .col-7 {
        width: 110px;
      }
      .col-8 {
        text-align: right;
        width: 163px;
        @media screen and (max-width: (@screen-sm - 1)) {
          width: 90px !important;
        }
      }
      //}
    }
    tfoot td {
      .clearfix();
      button {
        width: 125px;
        height: 40px;
        padding: 0;
        display: block;
        float: right;
      }
    }
  }
  .order-list-item-more-button {
    color: @brand-primary;
    text-decoration: underline;
    @media screen and (max-width: (@screen-sm - 1)) {
      float: left;
      margin-top: 10px;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .order-list-item-more-list {
    display: none;
    table {
      width: 100%;
      thead td {
        color: #000;
        border-bottom: 1px solid #ccc;
      }
      .col-s-1 {
        width: 100px;
      }
      .col-s-2 {
        width: 100px;
      }
      .col-s-3 {
        width: 260px;
      }
      .col-s-4 {
        width: 74px;
      }
    }
  }
}

//<< order-list-item