@icomoon-font-path: "../fonts";

@t-icon-wallet: "\e90a";
@t-icon-star: "\e909";
@t-icon-calendar: "\e908";
@t-icon-arrowDown: "\e907";
@t-icon-arrow: "\e900";
@t-icon-cart: "\e901";
@t-icon-hotel: "\e902";
@t-icon-plane: "\e903";
@t-icon-plane_end: "\e904";
@t-icon-plane_start: "\e905";
@t-icon-ticket: "\e906";


@font-face {
  font-family: 't-icons';
  src:    url('@{icomoon-font-path}/t-icons.eot?r4ox0j');
  src:    url('@{icomoon-font-path}/t-icons.eot?r4ox0j#iefix') format('embedded-opentype'),
  url('@{icomoon-font-path}/t-icons.ttf?r4ox0j') format('truetype'),
  url('@{icomoon-font-path}/t-icons.woff?r4ox0j') format('woff'),
  url('@{icomoon-font-path}/t-icons.svg?r4ox0j#t-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.t-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 't-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.t-icon-wallet {
  &:before {
    content: @t-icon-wallet;
  }
}
.t-icon-star {
  &:before {
    content: @t-icon-star;
  }
}
.t-icon-calendar {
  &:before {
    content: @t-icon-calendar;
  }
}
.t-icon-arrowDown {
  &:before {
    content: @t-icon-arrowDown;
  }
}
.t-icon-arrow {
  &:before {
    content: @t-icon-arrow;
  }
}
.t-icon-cart {
  &:before {
    content: @t-icon-cart;
  }
}
.t-icon-hotel {
  &:before {
    content: @t-icon-hotel;
  }
}
.t-icon-plane {
  &:before {
    content: @t-icon-plane;
  }
}
.t-icon-plane_end {
  &:before {
    content: @t-icon-plane_end;
  }
}
.t-icon-plane_start {
  &:before {
    content: @t-icon-plane_start;
  }
}
.t-icon-ticket {
  &:before {
    content: @t-icon-ticket;
  }
}
