@import "variables";
@import "mixins";
@import "iconFont";

//order steps >>

.order-steps {
  margin-top: 45px;
  margin-bottom: 30px;
  position: relative;
  @media screen and (max-width: (@screen-sm - 1)) {
    margin-left: -15px;
    margin-right: -15px;
    &.hidden-mobile{
      display: none;
    }
  }
  .mobile-cart{
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 90px;
    background: #f5d76e;
    padding-left: 15px;
    max-width: 180px;
    display: table;
    &:before{
      content: '';
      left: 0;
      top: 0;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 45px 0 45px 15px;
      border-color: transparent transparent transparent @brand-info;
    }
    .cart-box-icon {
      width: 35px;
      height: 30px;
      top: 50%;
      margin-top: -15px;
      left: 25px;
      font-size: 40px;
      position: absolute;
      .t-icon;
      .t-icon-cart;
      &:before {
        position: absolute;
        top: -5px;
        left: -5px;
      }
    }
    .cart-box-price{
      text-align: right;
      padding-right: 15px;
      display: table-cell;
      vertical-align: middle;
      height: 90px;
      width: 100%;
      font-size: 20px;
      line-height: 1.2;
      span{
        font-weight: bold;
        font-style: italic;
        display: block;
      }
    }
    @media screen and (min-width: @screen-sm) {
      display: none;
    }
  }
  ul {
    list-style: none;
    display: block;
    width: 100%;
    text-align: center;
    .clearfix();
    margin: 0;
    padding: 0;
    li {
      float: left;
      width: 100%;
      height: 90px;
      position: relative;
      background: #f1f1f1;
      display: none;
      &.first {
        @media screen and (min-width: @screen-sm) {
          width: 20%;
          display: inline-block;
          height: 120px;
        }
      }
      &.step_current{
        display: block;
      }
      @media screen and (min-width: @screen-sm) {
        width: 20%;
        height: 120px;
        display: inline-block;
      }
      a, div {
        display: table;
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        position: relative;
        color: #777777;
        text-decoration: none;
        line-height: 50px;
        font-size: 30px;
        text-align: left;
        @media screen and (min-width: @screen-sm) {
          line-height: 18px;
          font-size: 12px;
          text-align: center;
          display: block;
        }
      }
      .order-steps-icon {
        display: none;
        @media screen and (min-width: 601px) {
          display: block;
          width: 100px;
          height: 90px;
          position: absolute;
          top: 0;
          left: 0;
          &:before {
            position: absolute;
            top: 20px;
            left: 50%;
            margin-left: -40px;
            font-size: 80px;
          }
        }
        @media screen and (min-width: @screen-sm) {
          width: 105px;
          height: 45px;
          text-align: center;
          margin-top: 27px;
          margin-bottom: 2px;
          display: inline-block;
          font-size: 70px;
          position: relative;
          &:before {
            position: absolute;
            top: 10px;
            left: 50%;
            margin-left: -35px;
            font-size: 70px;
          }
        }
      }
      .order-steps-text {
        @media screen and (max-width: @screen-xs-max) {
          display: table-cell;
          vertical-align: middle;
          height: 90px;
          width: 100%;
          padding-left: 100px;
          padding-right: 180px;
        }
        @media screen and (max-width: 600px) {
          font-size: 15px;
          padding-right: 0;
          padding-left: 10px;
          width: 50%;
        }
      }
      @media screen and (max-width: @screen-xs-max) {
     &.last.step_current .order-steps-text{
        padding-left: 15px !important;
      }
      }

      &.step_done,
      &.step_current {
        background: @brand-info;
        color: #fff;
        a, div {
          color: #fff;
        }
        &:after, &:before {
          border-color: transparent transparent transparent @brand-info;
        }
        &:before {
          border-color: transparent transparent transparent #fff;
          display: block;
        }
      }

      @media screen and (min-width: @screen-md) {
        &:after, &:before {
          content: '';
          display: block;
          position: absolute;
          right: -20px;
          top: 0;
          z-index: 1;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 60px 0 60px 20px;
          border-color: transparent transparent transparent #f1f1f1;
        }

        &:before {
          border-color: transparent transparent transparent #dbdbdb;
          right: -21px;
        }
      }
      &.first,
      &.last {
        &:after, &:before {
          display: none;
        }
      }
      &.first {
        border-bottom: 2px dashed #777;
        @media screen and (min-width: @screen-sm) {
          border-right: 2px dashed #777;
          border-bottom: none !important;
          &.step_done {
            border-right: 2px dashed #fff;
          }
        }
        .order-steps-text {
          display: inline-block;
          width: auto;
          height: auto;
        }
        .order-steps-icon {
          display: inline-block;
          width: auto;
          height: auto;
          outline: none;
          @media screen and (min-width: @screen-sm) {
            font-weight: 300;
            display: inline-block;
            font-size: 20px;
            width: 100%;
            height: 45px;
            line-height: 45px;
          }
          @media screen and (min-width: @screen-md) {
            font-size: 30px;
          }
        }
        &.step_done {
          border-bottom: 2px dashed #fff;
          @media screen and (min-width: @screen-md) {
            border-right: 2px dashed #fff;
          }
        }
      }
      &.last {
        @media screen and (min-width: @screen-sm) {
          .order-steps-text {
            font-size: 30px;
            line-height: 120px;
          }
        }
      }
    }
  }
}

// << order steps

//order-filter >>
.order-filter {
  padding: 20px;
  background: #222e45;
  margin-bottom: 15px;
  .btn-open-filter{
    display: none !important;
  }
  @media screen and (max-width: (@screen-sm - 1)) {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -30px;
    padding-left: 10px;
    display: block;
    padding-right: 10px;
    form{
      display: none;
    }
    .btn-open-filter{
      color: #fff;
      height: 45px;
      display: block !important;
      border: 1px solid #fff !important;
      background: transparent !important;
      margin-bottom: 15px;
    }
  }

  label {
    color: #fff;
  }
  @media screen and (min-width: @screen-md) {
    label {
      display: none !important;
    }
  }
  .form-group {
    width: auto;
  }
  .form-control {
    background: transparent;
    border-color: #61697a;
    color: #d7e5ff;
    width: 100%;
    height: 40px;
    box-shadow: none !important;
    font-size: 14px;
    .placeholder(#d7e5ff);
    padding-left: 10px;
  }
  .checkbox {
    label {
      display: inline-block !important;
      color: #fff;
    }
  }
  .selector {
    background: transparent !important;
    border: 1px solid #61697a;
    color: #d7e5ff;
    width: 100% !important;
    height: auto;
    padding: 5px;
    box-shadow: none !important;
    select {
      color: #000;
      font-size: 14px;
      cursor: pointer;
      option {
        padding: 5px;
        background: #fff !important;
      }
    }
    span {
      color: #d7e5ff;
      font-size: 14px;
      text-shadow: none !important;
      width: 100% !important;
      padding: 0;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        right: 1px;
        top: 3px;
        background: rgba(255, 255, 255, 0.3);
      }
      &:before {
        .t-icon;
        content: @t-icon-arrowDown;
        position: absolute;
        right: 4px;
        top: 6px;
      }
    }
    * {
      background: transparent !important;
    }
  }
  .btn {
    border-radius: 50px !important;
    font-weight: normal;
    min-width: 150px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    box-shadow: none;
    display: block;
    outline: none;
    @media screen and (max-width: @screen-md) {
      width: 100%;
    }
    &.btn-default {
      background: transparent;
      border-color: transparent !important;
      padding: 0 !important;
      @media screen and (min-width: @screen-md) {
        text-align: left ;
        padding-top: 11px !important;
        padding-bottom: 11px !important;
      }
      &:hover {
        text-decoration: underline;
        color: #fff;
        background: transparent !important;
      }
    }
    &.btn-info {
      background: #0ca9ea;
      &:hover {
        color: #fff;
        background: #0a86b9 !important;
        border-color: #086d98 !important;
      }
    }
  }
  .order-filter-state-2-content {
    @media screen and (min-width: @screen-md) {

      .box-1 {

      }

      .box-2 {

      }

      .box-3, .box-4, .box-5 {
        width: 150px;
        text-align: center;
      }

      .box-6 {

      }

      .box-7 {
        clear: left;
      }

      .box-8 {

      }

      .box-9 {

      }

      .box-10 {

      }

      .box-11 {

      }

      .box-12 {

      }

      .box-13 {

      }

      .box-14 {

      }
    }
  }
}

.order-filter-state-2,
.order-filter-state-3 {
  padding-bottom: 5px;
  .box-1,
  .box-2,
  .box-7,
  .box-8 {
    .form-group {
      position: relative;
    }
    input {
      padding-left: 40px;
    }
    .icon {
      content: '';
      position: absolute;
      left: 8px;
      top: 0;
      width: 25px;
      height: 40px;
      pointer-events: none;
      .t-icon;
      &:before {
        font-size: 40px;
        position: absolute;
        left: -7px;
        top: 3px;
        color: #d7e5ff;
      }
    }
  }
  .box-1 {
    @media screen and (min-width: @screen-sm) and (max-width: @screen-md) {
      z-index: 3;
    }
    .icon {
      .t-icon-plane_start;
      &:before {
        top: 26px;
        @media screen and (min-width: @screen-md) {
          top: 3px;
        }
      }
    }
  }
  .box-2 {
    @media screen and (min-width: @screen-sm) and (max-width: @screen-md) {
      z-index: 3;
    }
    .icon {
      .t-icon-plane_end;
      &:before {
        top: 26px;
        @media screen and (min-width: @screen-md) {
          top: 3px;
        }
      }
    }
  }
  .box-7,
  .box-8 {
    .icon {
      .t-icon-calendar;
      &:before {
        top: 23px;
        @media screen and (min-width: @screen-md) {
          top: 0;
        }
      }
    }
  }
}

.order-filter-state-1-content {
  .clearfix();
  color: #fff;
  .box-in {
    float: left;
    padding-left: 25px;
    position: relative;
    width: 50%;
    th, td {
      padding: 0;
    }
    @media screen and (min-width: 526px) {
      width: 25%;
    }
    &:after {
      content: '';
      position: absolute;
      right: -5px;
      top: 0;
      height: 100%;
      width: 1px;
      background: #656d7d;;
    }
    table {
      width: 100%;
      th {
        font-size: 14px;
        font-weight: normal;
        @media screen and (min-width: @screen-sm) {
          font-size: 16px;
        }
        &.arrow {
          width: 30px !important;
        }
      }
      td {
        font-size: 12px;
      }
    }
  }
  .box-in-1 {
    padding-left: 0;
  }
  @media screen and (max-width: 525px) {
    .box-in {
      &:after {
        right: 0;
      }
    }

    .box-in-2 {
      //padding-bottom: 5px;
      //&:after {
      //  display: none;
      //}
    }

    .box-in-3 {
      padding-left: 0;
    }

    .box-in-4 {
      padding-top: 0;
    }
  }
  @media screen and (min-width: @screen-sm) {
    .box-in-1 {
      width: 125px;
      padding-left: 0;
    }

    .box-in-2 {
      width: 160px;
    }

    .box-in-3 {
      width: 120px;
    }

    .box-in-4 {
      width: 100px;
    }
  }
  .box-in-4 {
    &:after {
      display: none;
    }
  }
  .box-in-5 {
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-top: 15px;
    @media screen and (min-width: @screen-sm) {
      text-align: right;
      float: right;
      width: auto;
      padding-top: 0;
    }
    .btn {
      height: 40px;
      line-height: 35px;
      width: 100%;
      @media screen and (min-width: @screen-sm) {
        min-width: 100px;
      }
      @media screen and (min-width: @screen-lg) {
        min-width: 155px;
      }
      &:hover, &:focus {
        background: @brand-info !important;
      }
    }
    &:after {
      display: none;
    }
  }
}


.order-filter.order-filter-state-1.order-filter-state-hotels .order-filter-state-content{
  @media screen and (max-width: 500px){
    .box-in-3,
    .box-in-4{
      width: 50%;
      border-top: 1px solid #656d7d;
      &:after{
        display: none;
      }
    }
  }
  @media screen and (max-width: (@screen-sm - 1)) {

  }
}

.btn-default-iverse {
  background: transparent !important;
  color: #fff;
  border: 1px solid #fff;
  padding: 0 12px;
  &:hover, &:focus {
    color: #fff;
    background: @brand-info !important;
  }
}

//<< order-filter

//order-list >>

.order-list {
  .time-from,
  .time-to {
    padding-right: 15px;
    display: inline-block;
    font-weight: bold;
    width: 55px;
  }
  .place-from {
    padding-right: 15px;
    width: 55px;
  }
  .place-from,
  .place-to {
    width: 40px;
    text-transform: uppercase;;
    display: inline-block;
  }
  .arrow {
    display: inline-block;
    padding: 0 15px;
  }
  table {
    width: 100%;
    tr {
      padding: 20px;
      td, th {
        padding: 7px 0;
        color: #000;
      }
      .gray {
        color: #777777;
      }
      td.stop {
        min-width: 50px;
        text-align: center;
      }
    }
  }
  .company-name td {
    color: @brand-info;
    font-weight: bold;
    font-size: 16px;
    padding-left: 15px;
  }
  .table-first td {
    padding-top: 15px;
  }
  .table-last td {
    padding-bottom: 15px;
  }
  .first {
    padding-left: 15px;
  }
  .last {
    padding-right: 15px;
  }
  .bg-1 {
    background: #f1f1f1;
  }
  .bg-0 {
    background: #fff;
  }
  .border-bottom1 {
    border-bottom: 1px solid #ccc;
  }

  .btn {
    background: transparent;
    border-radius: 50px !important;
    font-weight: normal;
    width: 120px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    box-shadow: none;
    border: 1px solid @brand-info;
    height: 40px;
    margin-top: 5px;
    margin-left: 30px;
    color: @brand-info;
    outline: none;
    &:hover, &:focus {
      color: #fff;
      background: @brand-info !important;
      border-color: @brand-info !important;
    }
  }
  .buttons-more button {
    text-decoration: underline;
    background: transparent;
    border: none;
    font-size: 14px;
    color: #222e45;
    padding: 0;
    outline: none !important;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
  .flight_details {
    padding-top: 20px;
    font-size: 14px;
    table-layout: auto;
    border-bottom: 1px solid #ccc;
    th {
      font-weight: bold;
      border-bottom: 1px solid #ccc;
    }
    @media screen and (max-width: (@screen-sm - 1)) {
      td table{
        .first{
          display: none !important;
        }
        tr.th{
          padding: 0;
          display: block;
          position: relative;
          .clearfix();
          th{
            display: inline-block;
            float: left;
            font-weight: normal;
            border: none;
            padding: 0;
            padding-right: 5px;
            width: auto !important;
          }
          .flight-direction{
            display: block;
            font-size: 12px;
            font-weight: bold;
          }
          .flight-company{
            color: @brand-info;
            font-weight: bold;
            clear: left;
          }
          .flight-number{
            padding-right: 5px;
            font-weight: bold;
            &:before{
              content: '-';
            }
          }
          .flight-duration{
            font-weight: bold;
            &:before{
              content: '-';
            }
          }
        }
        tr.td{
          padding: 0;
          display: block;
          .clearfix();
          td{
            padding: 0;
            padding-right: 5px;
            display: inline-block;
            float: left;
          }
          td.flight-time{
            font-weight: bold;
          }
        }
      }
    }
    @media screen and (max-width: 600px) {
      td table tr.th th.flight-number{
        clear: left;
        &:before{
          display: none;
        }
      }
    }
  }
}

.order-list-price {
  height: 50px;
  width: 90px;
  position: relative;
  display: block;
  background: @brand-info;
  color: #fff;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 18px;
  line-height: 50px;
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 7px 7px 0;
    border-color: transparent @brand-info transparent transparent;
    position: absolute;
    left: -7px;
    top: 50%;
    margin-top: -7px;
  }
}

// << order-list

// cart-box >>

.cart-box {
  margin-bottom: 15px;
  @media screen and (min-width: @screen-sm) {
    display: block !important;
  }
  .main {
    background: #fff;
    color: #000;
    .box-shadow(-5px 5px 10px rgba(0,0,0,0.3));
    @media screen and (min-width: @screen-sm) {
      .box-shadow(0 0 20px 0 rgba(0, 0, 0, 0.3));
    }
    .cart-box-header {
      background: @brand-warning;
      position: relative;
      padding: 25px 20px;
      .clearfix();
      .cart-box-price {
        float: right;
        text-align: right;
        line-height: 1;
        font-size: 24px;
        font-weight: 300;
      }
      .cart-box-icon {
        width: 35px;
        height: 30px;
        float: left;
        font-size: 40px;
        position: relative;
        .t-icon;
        .t-icon-cart;
        &:before {
          position: absolute;
          top: -5px;
          left: -5px;
        }
      }
      .box-arrow-bottom {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 7px 0 7px;
        border-color: @brand-warning transparent transparent transparent;
        bottom: -7px;
        left: 50%;
        margin-left: -7px;
      }

    }
    .cart-box-content {
      padding: 20px 10px 30px;
      .cart-box-content-head {
        line-height: 1;
        td {
          padding-bottom: 10px !important;
          padding-top: 10px !important;
          text-transform: uppercase;
        }
      }
      .cart-box-content-list {
        width: 100%;
        color: #000;
        td {
          vertical-align: top;
          padding: 0;
        }
        .price {
          color: #000;
          font-weight: bold;
          font-style: italic;
        }
        .name {
          padding-left: 0;
          @media screen and (min-width: @screen-md) {
            width: 50px;
          }
          @media screen and (min-width: @screen-lg) {
            width: 95px;
          }
        }
        .count {

        }
        .button {
          width: 20px;
          a {
            margin-top: 4px;
            float: right;
          }
        }
      }
    }
    .cart-box-footer {
      padding: 0 20px 10px;
      .btn {
        height: 50px;
        line-height: 50px;
        padding: 0;
        font-size: 14px;
        box-shadow: none !important;
        outline: none;
        &:hover, &:focus {
          text-decoration: underline;
        }
      }
      .btn-info {
        background: @brand-info;
        border-radius: 50px;
        color: #fff;
        &:hover, &:focus {
          background-color: #0a86b9;
          border-color: #086d98;
          text-decoration: none;
        }
      }
      .btn-default {
        color: @brand-info;
        border: none !important;
        background: #fff !important;
        &:hover, &:focus {
          text-decoration: underline;
        }
      }
    }
  }
  .stadium {
    background: #fff;
    color: #000;
    margin-top: 20px;
    text-align: center;
    position: relative;
    img {
      max-width: 100%;
    }
    a {
      display: block;
      &:after,
      &:before {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 21px;
        height: 21px;
        content: '';
      }
      &:before {
        border-radius: 50%;
        background: #d7e5ff;
        color: @brand-info;
      }
      &:after {
        content: 'i';
        color: @brand-info;
        text-align: center;
        font-size: 14px;
        font-style: italic;
        font-weight: 800;
        line-height: 21px;
        right: 11px;
      }
      &:hover, &:focus {
        &:before {
          background: @brand-info;
        }
        &:after {
          color: #fff;
        }
      }
    }
  }
  @media screen and (max-width: (@screen-sm - 1)) {
    position: absolute;
    padding: 0;
    top: 90px;
    right: 0;
    width: 400px;
    height: auto;
    z-index: 999;
    display: none;
    .main {
      .cart-box-header {
        display: none;
      }
      .cart-box-content {
        padding: 5px 10px;
      }
      .cart-box-footer{
        padding-top: 15px;
        a{
          display: none;
        }
      }
    }
  }
  @media screen and (max-width: 460px) {
    z-index: 998;
  }
}

// << cart-boxst

.btn-arrow {
  position: relative;
  padding-right: 20px !important;
  &::before {
    content: @t-icon-arrow;
    display: block;
    position: absolute;
    height: 20px;
    width: 30px;
    right: 20px;
    top: 50%;
    margin-top: -11px;
    .t-icon;
    font-size: 25px;
  }
}

.btn-rounded {
  border-radius: 50px;
}

.ticekts {
  @media screen and (max-width: (@screen-sm - 1)) {
    margin: -15px -15px 0;
    .flight-detail{
      padding: 0 5px 10px;
    }
    .flight-detail-header{
      padding: 10px 10px 0;
    }
    .flight_results{
      margin-top: 0;
    }
  }
  .btn {
    font-size: 14px;
    height: 40px;
    min-width: 150px;
    text-align: center;
    padding: 0 16px;
    line-height: 35px;
  }
  .btn-info {
    background: @brand-info;
    &:hover, &:focus {
      background: darken(@brand-info, 10%);
    }
  }
}

.flight-detail {
  background: #f8f8f8;
  padding: 20px;
  position: relative;
  @media screen and (max-width: (@screen-sm - 1)) {
    margin: -15px -15px 0;
    .flight-detail {
      padding: 0 5px 10px;
    }
  }
  &:after {
    content: '';
    position: absolute;
    width: 96%;
    bottom: 0;
    left: 2%;
    height: 1px;
    background: #ccc;
  }
  strong {
    padding-bottom: 10px;
    display: inline-block;
  }
  .flight-detail-item {
    @media screen and (min-width: @screen-md) {
      label {
        display: none;
      }
    }
    .form-group {
      width: 100%;
    }
    .form-control {
      height: 40px;
      color: #000;
      font-size: 14px;
      border: none;
      padding-left: 10px;
      .box-shadow(inset 0px 2px 3px 0px #ccc);
    }
    .selector {
      background: #fff !important;
      color: #000;
      width: 100% !important;
      height: auto;
      padding: 5px;
      font-size: 14px;
      .box-shadow(inset 0px 2px 3px 0px #ccc) !important;
      select {
        color: #000;
        font-size: 14px;
        cursor: pointer;
        option {
          padding: 5px;
        }
      }
      span {
        color: #000;
        text-shadow: none !important;
        width: 100% !important;
        padding: 0;
        font-size: 14px;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          width: 20px;
          height: 20px;
          right: 1px;
          top: 3px;
          color: #000;
          background: #e5e5e5;
        }
        &:after {
          .t-icon;
          content: @t-icon-arrowDown;
          position: absolute;
          right: 5px;
          top: 7px;
        }
      }
      * {
        background: transparent !important;
      }
    }
  }
}

.flight-detail-no-border::after {
  display: none;
}
.flight-detail-header{
  padding-bottom: 0;
  h3{
    margin: 0 0 5px 0;
    font-size: 20px;
  }
  a{
    color: #000;
    &:hover,&:focus{
      color: #777;
      text-decoration: underline;
    }
  }
}
.ticekts .flight-detail:after{
  display: none;
}
.row-sm {
  margin-left: -5px;
  margin-right: -5px;
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, header .row #header_logo, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.t-icon_tables {
  font-size: 25px;
  float: left;
}

.btn-remove {
  border-radius: 50%;
  background: #c9000f;
  width: 13px;
  height: 13px;
  display: block;
  position: relative;
  span {
    width: 13px;
    height: 13px;
    display: block;
    position: absolute;
    top: -3px;
    left: 3px;
    color: #fff;
  }
  &:hover, &:focus {
    background: #e80010;
  }
}

//hotel-list >>

.hotel-list {
  @media screen and (max-width: (@screen-sm - 1)) {
    margin: -15px;
    margin-bottom: 0;
  }
  .bg-0 {
    background: #f8f8f8;
  }
  .bg-1 {
    background: transparent;
  }
  .order-list-price {
    text-align: center;
    width: 100px;
    .head {
      display: block;
      font-size: 12px;
      text-transform: uppercase;
      position: absolute;
      top: -12px;
      left: 0;
      width: 100%;
      font-weight: normal;
    }
    .price {
      top: 5px;
      left: 0;
      width: 100%;
      position: absolute;
      color: #fff;
      .in {
        display: inline-block;
        font-size: 18px;
      }
      .pp {
        font-size: 14px;
        display: inline-block;
        font-weight: normal;
      }
    }
  }
  .button-more {
    text-decoration: underline;
    background: transparent;
    border: none;
    font-size: 14px;
    outline: none !important;
    color: #222e45;
    padding: 0;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}
.hotel_results {
  font-size: 14px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  td {
    vertical-align: top;
    padding: 15px 7px;
  }
  td.first {
    padding-left: 15px;
    @media screen and (max-width: (@screen-sm - 1)) {
      padding-left: 7px;
    }
  }
  @media screen and (max-width: (@screen-sm - 1)) {
    .hotel_details{
      border-bottom: 1px solid #ccc;
    }
    .hotel_details > td.first {
      display: none;
    }
    .hotel_details > td.last {
      padding-right: 7px;
    }
    }
  @media screen and (max-width: 500px) {
    .hotel_details td table{
      display: block;
      tr,td,th,tbody{
        display: block;
      }
      tr{
        .clearfix();
      }
      .orderPrice{
        float: right;
      }
      .last{
        width: 50%;
        float: left;
        padding-left: 0 !important;
      }
    }
  }
  td.last {
    padding-right: 15px;
  }
  h2 {
    font-size: 14px;
    color: @brand-info;
    font-weight: bold;
    margin-top: 0;
    position: relative;
    margin-bottom: 2px;
    display: inline-block;
    .stars {
      width: 90px;
      position: absolute;
      top: 0;
      right: -95px;
      .clearfix();
      .star {
        cursor: default;
        float: left;
        width: 17px;
        height: 17px;
        margin-right: 1px;
        font-size: 25px;
        position: relative;
        .t-icon;
        .t-icon-star;
        &:before {
          color: #ccc;
          position: absolute;
          top: -5px;
          left: -5px;
          content: @t-icon-star;
        }
      }
    }
    .star-rating-1,
    .star-rating-2,
    .star-rating-3,
    .star-rating-4,
    .star-rating-5 {
      .star-1 {
        &:before {
          color: #ffbd5f;
        }
      }
    }
    .star-rating-2,
    .star-rating-3,
    .star-rating-4,
    .star-rating-5 {
      .star-2 {
        &:before {
          color: #ffbd5f;
        }
      }
    }
    .star-rating-3,
    .star-rating-4,
    .star-rating-5 {
      .star-3 {
        &:before {
          color: #ffbd5f;
        }
      }
    }
    .star-rating-4,
    .star-rating-5 {
      .star-4 {
        &:before {
          color: #ffbd5f;
        }
      }
    }
    .star-rating-5 {
      .star-4 {
        &:before {
          color: #ffbd5f;
        }
      }
    }
  }
  .p-hotel-description {
    height: 75px;
    overflow: hidden;
    &.active {
      min-height: 75px;
      height: auto;
    }
  }
  > tr > td {

  }
}

.order-filter+.hotel_results{
    .hotel-info .first{
      width: 100px;
    }
  @media screen and (max-width: (@screen-sm - 1)) {
    .hotel-info-mobile h2{
      padding-top: 5px;
    }

  }
}

.hotel_results+.flight-detail{
  @media screen and (max-width: (@screen-sm - 1)) {
  margin-top: -1px;
}
}

.hotel-info-0 {
  border-top: 1px solid transparent !important;
}
.hotel-info {
  border-top: 1px solid #ccc;
  @media screen and (max-width: (@screen-sm - 1)) {
    border-top: none;
  .td-3{
    display: none;
  }
}
}
.hotel-info-mobile{
  display: none;
  @media screen and (max-width: (@screen-sm - 1)) {
    display: table-row;
    td{
      position: relative;
    }
    h2{
      display: block;
      padding-right: 110px;
      padding-top: 25px;
      font-size: 16px;
      .stars {
        left: 0;
        top: 0;
        right: auto;
      }
    }
    .td-3-mobile{
      position: absolute;
      top: 10px;
      right: 15px;
    }
  }
}
@media screen and (max-width: (@screen-sm - 1)) {
  .hotel-description h2{
    display: none;
  }
}
.order-list-price-2 {
  text-align: center;
  width: 100px;
  .head {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    position: absolute;
    top: -12px;
    left: 0;
    width: 100%;
    font-weight: normal;
  }
  .price {
    top: 5px;
    left: 0;
    width: 100%;
    position: absolute;
    color: #fff;
    .in {
      display: inline-block;
      font-size: 18px;
    }
    .pp {
      font-size: 14px;
      display: inline-block;
      font-weight: normal;
    }
  }
}
.hotel_details {
  > td {
    padding-top: 0 !important;
  }
  table {
    width: 100%;
    tr {
      border-bottom: 1px solid #ccc;
      &:last-child {
        border-bottom: none;
      }
    }
    td {
      vertical-align: top;
      padding: 7px !important;
      &.first {
        padding-left: 0 !important;
      }
      &.last {
        padding-right: 0 !important;
      }
      .selector {
        background: #fff !important;
        color: #000;
        width: 100% !important;
        height: auto;
        padding: 5px;
        font-size: 14px;
        .box-shadow(inset 0px 2px 3px 0px #ccc) !important;
        select {
          color: #000;
          font-size: 14px;
          cursor: pointer;
          option {
            padding: 5px;
          }
        }
        span {
          color: #000;
          text-shadow: none !important;
          width: 100% !important;
          padding: 0;
          font-size: 14px;
          position: relative;
          &:before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            right: 1px;
            top: 3px;
            color: #000;
            background: #e5e5e5;
          }
          &:after {
            .t-icon;
            content: @t-icon-arrowDown;
            position: absolute;
            right: 5px;
            top: 7px;
          }
        }
        * {
          background: transparent !important;
        }
      }
    }
  }
}

//<< hotel-list

//order-summary >>

.order-summary-head {
  text-align: center;
  color: #000;
  background: #f5d76e;
  height: 50px;
  margin-bottom: 10px;
  @media screen and (min-width: @screen-md) {
    height: 80px;
  }
  @media screen and (max-width: (@screen-sm - 1)) {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0;
    height: 70px;
  }
  h1 {
    position: relative;
    display: inline-block;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    line-height: 50px;
    padding-left: 50px;
    @media screen and (min-width: @screen-md) {
      line-height: 80px;
    }
    @media screen and (max-width: (@screen-sm - 1)) {
      line-height: 70px;
    }
    span {
      position: absolute;
      font-size: 40px;
      top: 5px;
      left: 0;
      @media screen and (min-width: @screen-md) {
        top: 18px;
      }
      @media screen and (max-width: (@screen-sm - 1)) {
        top: 15px;
      }
    }
  }
}

.btn-buy{
  @media screen and (max-width: (@screen-sm - 1)) {
    height: 50px !important;
    margin-top: 25px !important;
  }
}

.order-summary-content {
  position: relative;
  @media screen and (max-width: (@screen-sm - 1)) {
    margin-left: -15px;
    margin-right: -15px;
  }
  &:after{
    content: '';
    position: absolute;
    width: 96%;
    height: 1px;
    bottom: 0;
    left: 2%;
    background: #ccc;
  }
  &.no-border::after{
    display: none;
  }
  .name{
    color: @brand-info;
    font-weight: bold;
    font-size: 16px;
  }
  .price{
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    color: #000;
  }
  .price-total{
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    @media screen and(min-width: @screen-md) {
      text-align: right;
    }
    &.price-total-desktop{
      @media screen and (max-width: (@screen-sm - 1)) {
        display: none;
      }
    }
  }
  .moreInfo{

  }
  .moreInfo-small{
font-size: 12px;
  }
  padding: 20px;
  background: #f8f8f8;
  > .row {
    padding-left: 15px;
    padding-right: 15px;
  }
  .form-group {
    width: 100%;
  }
  .form-control {
    height: 40px;
    color: #000;
    font-size: 14px;
    border: none;
    padding-left: 10px;
    .box-shadow(inset 0px 2px 3px 0px #ccc);
    @media screen and(max-width: @screen-md) {
      .placeholder(#fff)
    }
  }
  .form-control-msg {
    height: auto;
    min-height: 100px;
  }
  .selector {
    background: #fff !important;
    color: #000;
    width: 100% !important;
    height: auto;
    padding: 5px;
    font-size: 14px;
    .box-shadow(inset 0px 2px 3px 0px #ccc) !important;
    select {
      color: #000;
      font-size: 14px;
      cursor: pointer;
      option {
        padding: 5px;
        background: #fff !important;
      }
    }
    span {
      color: #000;
      text-shadow: none !important;
      width: 100% !important;
      padding: 0;
      font-size: 14px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        right: 1px;
        top: 3px;
        color: #000;
        background: #e5e5e5;
      }
      &:after {
        .t-icon;
        content: @t-icon-arrowDown;
        position: absolute;
        right: 5px;
        top: 7px;
      }
    }
    * {
      background: transparent !important;
    }
  }
}

.order-summary-content-name {
  font-size: 24px;
  text-transform: uppercase;
  padding-bottom: 15px;
  @media screen and(min-width: @screen-md) {
    text-align: left;
  }
  @media screen and(min-width: @screen-lg) {
    padding-bottom: 0;
  }
  @media screen and (max-width: (@screen-sm - 1)) {
    padding-bottom: 5px;
  }
}

.order-summary-content-total{
  .btn-info{
    .btn-info-2;
    line-height: 32px;
    font-size: 18px;
    margin-top: 15px;
    text-transform: uppercase;
    @media screen and(min-width: @screen-md) {
      display: inline-block;
      width: 220px;
      float: none;
      margin-top: 0;
    }
  }
}

.order-summary-content-price{
  .price-2{
    text-align: right;
    font-size: 25px;
  }
  .btn-info{
    .btn-info-2;
    line-height: 32px;
    font-size: 18px;
    margin-top: 15px;
    text-transform: uppercase;
  }
}

.order-summary-content {
  .flight-detail {
    border-bottom: none;
    @media screen and (max-width: (@screen-sm - 1)) {
      .flight_results {
        .ticket-numbers {
          right: 0;
        }
        .duration {
          right: 0;
        }
      }
    }
  }
}
.order-summary-content-flight{
  table{
    width: 100%;
  }
  .buttons-more button {
    text-decoration: underline;
    background: transparent;
    border: none;
    font-size: 14px;
    color: #222e45;
    padding: 0;
    outline: none !important;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
  .flight-detail{
    padding: 0;
    table td:first-child{
      padding-left: 0;
    }
    &:after{
      display: none;
    }
    .order-list-price-box{
      display: none !important;
    }
  }
}
.order-list-price-box{
  padding-right: 0 !important;
}
.btn-info-2 {
  background: #0ca9ea;
  height: 45px;
  color: #fff;
  .btn-rounded;
  font-size: 14px;
  text-align: center;
  display: block;
  width: 100%;
  outline: none;
  @media screen and(min-width: @screen-md) {
    display: inline-block;
    width: 190px;
    float: right;
  }
  &:hover {
    color: #fff;
    background: #0a86b9 !important;
    border-color: #086d98 !important;
  }
}

//<< order-summary


//flight-detail-2  >>

.flight-detail-2{
  .passanger-mobile{
    display: none;
  }
  @media screen and (max-width: (@screen-sm - 1)) {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 2px solid #ccc;
    &.flight-detail-header{
      padding-left: 10px;
      padding-right: 10px;
      position: relative;
      border-bottom: none;
      .unset-flight{
        position: absolute;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        min-width: 0;
        padding-right: 0;
        color: transparent!important;
        border: 1px solid #333;
        z-index: 9;
        top: 35px;
        right: 20px;
        &:before{
          content: '+';
          position: absolute;
          font-size: 40px;
          left: -15px;
          top: -28px;
          width: 40px;
          height: 40px;
          color: #333!important;
          .rotate(45deg);
        }
      }
    }
    .flight_results {
      display: block;
      table,
      tbody {
        display: block;
        tr {
          display: block;
          .clearfix();
          td, th {
            display: inline-block;
            float: left;
          }
        }
      }
      .company-name td{
        width: 100%;
        padding-top: 10px;
      }
      .passanger-desktop{
        display: none;
      }
      .passanger-mobile{
        display: inline-block;
      }
      tr {
        position: relative;
      }
      .flightInfo{
        padding-bottom: 25px;
        .clearfix();
        span,.time,.time3,.mobile-style{
          float: left;
          display: block;
          width: auto;
          padding: 0 5px 0 0;
        }
        .time3,.mobile-style{
          padding-top: 20px;
          padding-right: 0;
        }
        .mobile-style {
          clear: left;
        }
        .arrow {
          font-size: 30px;
          display: inline-block;
          padding: 25px 15px 0;
        }
        .time,
        .time1 {
          clear: left;
          font-size: 12px;
        }
        .city,
        .city1{
          clear: left;
          font-size: 18px;
          font-weight: normal;
        }
      }
      .ticket-numbers{
        position: absolute;
        right: 60px;
        top: 60px;
      }
      .duration{
        position: absolute;
        right: 60px;
        top: 38px;
      }
      .order-list-price-box{
        position: absolute;
        right: 70px;
        top: -30px;
      }
    }
    .flight_results tr.flight_details{
  display: none;
}
    #flight_details_sel{
      th,td{
        padding: 0;
        padding-right: 5px;
        float: left;
        width: auto !important;
      }
      > td{
        width: 100%;
        padding-left: 5px;
        padding-right: 0;
      }
      .flight-direction{
        display: block;
        font-size: 12px;
        font-weight: bold;
        padding-top: 10px;
      }
      .flight-company{
        color: #0ca9ea;
        font-weight: bold;
        clear: left;
      }
      .flight-number{
        padding-right: 5px;
        font-weight: bold;
        &:before{
          content: '-';
        }
      }
      .flight-duration{
        font-weight: bold;
        &:before{
          content: '-';
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    #flight_details_sel .flight-number{
      clear: left;
      &:before{
        display: none;
      }
    }
  }
  @media screen and (max-width: 500px){
    .flight_results .order-list-price-box{
      top: 35px;
    }
    &.flight-detail-header .unset-flight{
      top: 100px;
    }
    .flight_results .flightInfo{
      width: 100% !important;
      padding-bottom: 5px;
    }
    .flight_results .ticket-numbers,
    .flight_results .duration{
      position: relative;
      right: auto;
      top: auto;
      clear: left;
    }
    .flight_results .ticket-numbers{
      padding-bottom: 10px;
    }
  }
  @media screen and (max-width: 370px){
    .order-list-price-box,
    .order-list-price{
      width: 70px !important;
    }
  }
  table {
    width: 100%;
    .company-name td {
      color: @brand-info;
      font-weight: bold;
      font-size: 16px;
    }
    .buttons-more button {
      text-decoration: underline;
      background: transparent;
      border: none;
      font-size: 14px;
      color: #222e45;
      padding: 0;
      outline: none !important;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
    .time,
    .time2 {
      padding-right: 15px;
      display: inline-block;
      font-weight: bold;
      width: 55px;
    }
    .date {
      padding-right: 15px;
      width: 55px;
    }
    .city,
    .city2 {
      width: 40px;
      text-transform: uppercase;;
      display: inline-block;
    }
    .arrow {
      display: inline-block;
      padding: 0 15px;
    }
  }
  strong{
    padding: 0;
  }
}

.flight_check_buttons{
  .btn{
    height: 45px;
    margin-bottom: 10px;
    line-height: 40px;
    float: right;
  }
  .flight_check_button{
    float: right;
  }
}

//<< flight-detail-2
@media screen and (max-width: (@screen-sm - 1)) {
  .order-filter + .flight-detail-3 {
    margin: -15px;
    padding-top: 1px;
    .order-list-price-box {
      right: 5px;
    }
    .flight_results .duration,
    .flight_results .ticket-numbers {
      right: 0;
      padding-right: 0;
    }
  }
}

@media screen and (max-width: (@screen-sm - 1)) {
  .order-filter-state-content.order-filter-state-1-content {
    .box-in-1 table{
      display: block;
      th{
        display: inline-block;
        width: auto;
        &.arrow{
          text-align: center;
        }
      }
      tr{
        display: block;
      }
    }

    .box-in-1,
    .box-in-2,
    .box-in-3,
    .box-in-4 {
      width: 33%;
      padding-bottom: 5px;
    }
    .box-in-2,
    .box-in-4 {
      table, tbody, tr, th, td {
        display: inline-block;
      }
    }
    .box-in-2{
      tr{
        display: block;
      }
      th,td {
        padding-right: 5px;
        width: 50px;
      }
      .arrow{
        width: 30px;
        text-align: center;
        padding-right: 0;
      }
      td:nth-child(2){
        width: 30px;
        padding-right: 0;
      }
    }
  }
}

.order-filter-state-content.order-filter-state-1-content {
  @media screen and (max-width: (@screen-sm - 1)) {
    .box-in-1,
    .box-in-2,
    .box-in-3,
    .box-in-4 {
      width: 50%;
      padding-bottom: 5px;
      &:after{
        display: none;
      }
    }
    .box-in-1,
    .box-in-2{
      padding-bottom: 10px;
      border-bottom: 1px solid #656d7d;
      height: 52px;
    }

    .box-in-4{
      padding-top: 10px;
    }
    .box-in-4,
    .box-in-3{
      padding-top: 10px;
      padding-left: 25px;
    }
    .box-in-3{
      padding-left: 0;
    }
  }
  @media screen and (max-width: (500px)) {
    .box-in-1,
    .box-in-2{
      padding-bottom: 10px;
    }
    .box-in-4 {
      padding-top: 10px;
      width: 100%;
    }
    .box-in-3.empty{
      display: none;
    }
    .box-in-2,
    .box-in-4{
      padding-left: 0;
    }
  }
}

.searchHead {
  margin-top: 10px;
  @media screen and (max-width: (@screen-sm - 1)) {
    display: none;
  }
  tr {
    td, th {
      color: @brand-info !important;
      text-transform: uppercase;
      font-weight: 300;
      height: 40px;
      border-bottom: 1px solid #ccc;
      &:first-child{
        padding-left: 15px;
      }
      a {
        font-weight: 300;
        color: @brand-info !important;
        text-decoration: none !important;
        &:hover, &:focus {
          color: @brand-primary !important;
        }
      }
      &.up, &.down {
        position: relative;
        padding-right: 30px;
        a {
          position: relative;
        }
        a:before {
          .t-icon;
          content: @t-icon-arrowDown;
          position: absolute;
          right: -20px;
          top: 3px;
        }
        a{
          &:hover, &:focus {
            color: @brand-primary !important;
          }
        }
      }
      &.up {
       a:before{
         transform: rotate(180deg);
       }
      }
      &.down {

      }
    }
  }
}
.searchHead-flights{

}
.flight_results {
  margin-top: 10px;
}
.flight_results_table_list {
  .td-5-mobile,
  .td-6-mobile {
    display: none;
  }
  @media screen and (max-width: (@screen-md - 1)) {
    .company-name-in{
    padding-right: 170px;
  }
    .tr-firstInfo,
    .tr-secondInfo {
      .td-2 {
        width: 80px;
      }
      .td-4 {
        width: 80px;
      }
    }
  }
  @media screen and (max-width: (@screen-md - 1)) {
    .company-name td{
      position: relative;
      height: 50px;
    }
    .td-5-mobile,
    .td-6-mobile {
      display: block;
      position: absolute;
      top: 5px;
      right: 15px;
    }
    .td-6-mobile {
      padding: 0;
      button{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: relative;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        min-width: 0;
        padding-right: 0;
        color: transparent !important;
        &:before{
          content: '+';
          position: absolute;
          font-size: 40px;
          left: -15px;
          top: 0px;
          width: 40px;
          height: 40px;
          color: @brand-info !important;
        }
        &:hover,&:focus{
          &:before{
            color: #fff !important;
          }
        }
      }
    }
    .td-5-mobile{
      right: 70px;
      top: 5px;
    }
    .tr-firstInfo,
    .tr-secondInfo {
      .td-1 {
        .mainBox {
          position: relative;
          display: inline-block;
          height: 50px;
          padding-top: 15px;
        }
        .place-from, .place-to {
          font-size: 18px;
        }
        .time-from, .time-to {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 12px;
        }
        .arrow {
          font-size: 30px;
        }
      }
      .td-2 {
        text-align: right;
        width: 150px;
        padding-right: 70px;
      }
      .td-3, .td-4 {
        //display: none;
        color: transparent;
      }
      .td-5,
      .td-6 {
        display: none;
      }
    }
  }
  @media screen and (max-width: 500px) {
    .td-5-mobile,
    .td-6-mobile {
      top: 50px;
    }
    .td-2,
    .td-3,
    .td-4{
      display: none;
    }
    .company-name-in{
      padding-right: 10px;
    }
  }
  @media screen and (max-width: 370px) {
    .td-5-mobile {
      .order-list-price{
        width: 70px;
      }
    }
    .tr-firstInfo .td-1 .arrow,
    .tr-secondInfo .td-1 .arrow{
      padding: 0 7px;
    }
  }
}
.btn-showmore{
  margin: 10px auto 0 !important;
  width: 100% !important;
  background: transparent;
  color: @brand-info;
  border: 1px solid @brand-info;
  height: 45px;
  margin-bottom: 15px;
  .btn-rounded;
  outline: none !important;
  box-shadow: none !important;
  &:hover,&:focus{
    background: @brand-info;
    color: #fff;
  }
  @media screen and (min-width: @screen-md) {
    width: 200px !important;
  }
}


.mainContent .alert{
  @media screen and (max-width: (@screen-sm - 1)) {
    margin: -30px -15px 30px -15px;
  }
}

.buttons-more-box {
  margin-top: 10px;
  @media screen and (max-width: (@screen-sm - 1)) {
    margin-left: -10px;
    margin-right: -10px;
  }
  button{
    font-size: 14px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  @media screen and (min-width: @screen-md) {
.btn-showmore{
  float: left;
}
  }
}
.hotel-list{
  .buttons-more-box {
    @media screen and (max-width: (@screen-sm - 1)) {
      margin-left: 5px;
      margin-right: 5px;
    }
}
}

@media screen and (max-width: 370px){
  .flight_details_sel-city{
    clear: left;
    margin-left: -5px;
  }
}
