/*********************************************************************
					Maintenance Page Styles
**********************************************************************/
body {
  background-color: #0F1620; }

#maintenance {
  margin: 50px 0 0 0;
}
#maintenance img {max-width: 100%;height: auto}
#mc_embed_signup h2 {font-family: "Open Sans"!important}
#maintenance p {color:white;text-align: justify;font-family: "Open Sans"!important;font-weight: 300}
#maintenance p strong {font-weight: 700;}
#mc_embed_signup .button {padding: 0 40px!important;line-height: 40px!important;height: 40px!important;}
  @media (min-width: 1200px) {
    #maintenance {
      margin: 126px 0 0 0;
      padding: 50px; } }
  #maintenance .logo {
    margin: 0 0 31px 0;
    text-align: center; }
  #maintenance h1 {
    font: 40px "Open Sans", sans-serif;
    color: white;
    padding: 0 0 14px 0;
    margin: 0 0 19px 0;text-align: center;font-weight: 700;}
  #maintenance #message {
    font: 14px "Open Sans", sans-serif;
    padding: 0 0 0 18px;
    color: #555454;
    text-align: center; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container {
    width: 550px; } }
@media (min-width: 992px) {
  .container {
    width: 550px; } }
@media (min-width: 1200px) {
  .container {
    width: 550px; } }
@media only screen and (min-width: 1200px) {
  .container {
    padding-left: 0;
    padding-right: 0; } }

@media (max-width: 500px) {
  #maintenance {margin-top: 30px;}
  #maintenance h1 {font-size: 24px;}
  #maintenance img {max-width: 100%;height: auto}
  #mc_embed_signup h2 {font-size: 18px!important}
}     

/*# sourceMappingURL=maintenance.css.map */
