#currencies-block-top {
  float: right;
  position: relative; }
  @media (max-width: 479px) {
    #currencies-block-top {
    } }
  #currencies-block-top span.firstWord {
    display: none; }
  #currencies-block-top div.current {
    font-weight: normal;
    padding: 6px 15px 6px 15px;
    line-height: 20px;
    color: #d7e5ff;
    cursor: pointer;
}
#currencies-block-top div.current strong {font-weight: normal;}
    @media (max-width: 479px) {
      #currencies-block-top div.current {
        text-align: center;
        padding: 9px 5px 10px;
        font-size: 11px;line-height: 14px; } }
    #currencies-block-top div.current strong {
      color: #d7e5ff; }
    #currencies-block-top div.current:hover, #currencies-block-top div.current.active {
       }
    #currencies-block-top div.current:after {
      content: "\f0d7";
      font-family: "FontAwesome";
      font-size: 18px;
      line-height: 18px;
      color: #686666;
      vertical-align: -2px;
      padding-left: 12px;display:none; }
      @media (max-width: 479px) {
        #currencies-block-top div.current:after {
          padding-left: 2px;
          font-size: 13px;
          line-height: 13px;
          vertical-align: 0; } }
    @media (max-width: 479px) {
      #currencies-block-top div.current .cur-label {
        display: none; } }
  #currencies-block-top ul {
    display: none;
    position: absolute;
    top: 37px;
    left: 0;
    width: 157px;
    background: #333;
    z-index: 2; }
    #currencies-block-top ul li {
      color: #fff;
      line-height: 35px;
      font-size: 13px; }
      #currencies-block-top ul li a,
      #currencies-block-top ul li > span {
        padding: 0 10px 0 12px;
        display: block;
        color: #fff; }
      #currencies-block-top ul li.selected, #currencies-block-top ul li:hover a {
        background: #484848; }

/*# sourceMappingURL=blockcurrencies.css.map */
