@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=latin,latin-ext);


#header .shopping_cart, #index #header .row > .col-sm-4, #header .row > .col-sm-4 {display:none;}

#header .home-title {text-align: center;float:left;width: 100%;padding: 0 15px;}
#header .home-title h1 {font-size: 48px;color:white;font-family: 'Ubuntu', sans-serif;font-weight: 700;text-transform: uppercase;line-height: 1.4}
#header .home-title h2 {color: white;font-size: 24px;text-transform: uppercase;letter-spacing: 4px;font-weight: 300;line-height: 2}
#header .home-title .button {text-transform: uppercase;background: #0ca9ea;color:white;font-size: 18px;-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;border:0;font-weight: normal;padding: 12px 30px;}
#header .nav {float:right;}
#header .sf-menu {background: none;border: 0;}
#header .sf-menu > li {border:0;background: none;}
#header .sf-menu > li > a {border:0;background: none;}
#header .sf-menu ul {display:none!important;}
#header .header_user_info {display:none;}

#header {padding-top: 15px;}
header .row #header_logo {padding-top: 0;}
#page #search_block_top #search_query_top {padding: 0;height: 32px;background: transparent;border: 0;padding-left: 36px;width: 100px;}
#page #search_block_top #search_query_top:focus {box-shadow: none;}
#page #search_block_top .btn.button-search {height: 32px;width: 32px;line-height: 32px;right: auto;left:0px;padding: 0;background: transparent;color:#d7e5ff;}
#search_block_top .form-control::-webkit-input-placeholder {color:#d7e5ff;opacity: 1;}
#search_block_top .form-control::-moz-placeholder {color:#d7e5ff;opacity: 1;}
#search_block_top .form-control:-moz-placeholder {color:#d7e5ff;opacity: 1;}
#search_block_top .form-control:-ms-input-placeholder {color:#d7e5ff;opacity: 1;}
#index #search_block_top .form-control::-webkit-input-placeholder {color:#222e45;opacity: 1;}
#index #search_block_top .form-control::-moz-placeholder {color:#222e45;opacity: 1;}
#index #search_block_top .form-control:-moz-placeholder {color:#222e45;opacity: 1;}
#index #search_block_top .form-control:-ms-input-placeholder {color:#222e45;opacity: 1;}
#page .sf-menu > li > a {padding: 0px 20px;line-height: 30px;color:#d7e5ff;font-size: 14px;text-transform: none;font-weight: normal;}

#index #header {background:url('../../img/header-home.jpg') no-repeat top center;padding-top: 0;}
#index .home-about-container {background: url('../../img/home-about.jpg') no-repeat top center;}

/* CATEGORY */
#category h1 {font-family: 'Ubuntu', sans-serif;font-weight: 700;text-transform: uppercase;font-size: 48px;color:#000;text-align: center}
#subcategories table {width: 100%;}
#subcategories table th {background: #222e45;color:#d7e5ff;font-size: 14px;font-weight: normal;text-transform: uppercase;}
#subcategories table tbody tr {border-bottom: 1px solid #ccc}
#subcategories table tbody tr:nth-child(odd) {background: #f1f1f1}
#subcategories table tbody tr:nth-child(even) {background: #f8f8f8}
#subcategories .subcategory-button a.btn {background: transparent;border:1px solid #0ca9ea;color:#0ca9ea;font-weight: normal;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;padding: 10px 20px;}
#product-list {width: 100%;}
#product-list th {background: #ffffff;color:#0ca9ea;font-weight: normal;text-transform: uppercase;border-bottom: 1px solid #ccc}
#product-list table tbody tr {border-bottom: 1px solid #ccc}
#product-list tbody tr:nth-child(odd) {background: #f1f1f1}
#product-list tbody tr:nth-child(even) {background: #f8f8f8}

.featured-container .category-list {margin-top:50px;margin-bottom: 40px;}
.featured-container .block-category {position: relative;}
.featured-container .block-category .title {position: absolute;width: 100%;text-align: center;bottom: 55px;padding-right: 15px;}
.featured-container .block-category .title h4 a {color:white;font-size: 24px;font-weight: 300}
.featured-container .block-category img {max-width: 100%;}
.featured-container .block-category .category-button {display:block;background: #0ca9ea;width: 100%;height: 50px;color:white;line-height: 50px;font-weight: 400;padding-left: 30px;font-size: 16px;text-transform: uppercase;}
.featured-container .featured-title {font-size: 30px;font-weight: 300;text-transform: uppercase;letter-spacing: 4px;margin-top:0;}
.featured-container .button_exclusive {color:#0ca9ea;padding: 10px 25px;font-size: 18px;border: 1px solid #0ca9ea;border-radius: 30px;float:right;margin-top: -10px;}

.home-about-container .about-title {font-size: 48px;font-weight: 300;color:white;letter-spacing: 4px;text-transform: uppercase;text-align: center;margin-top: 60px;}
.home-about-container .about-subtitle {font-size:12px;color:white;text-align: center;letter-spacing: 4px;text-transform: uppercase;margin-bottom: 30px;}
#info-block ul {margin-bottom: 0;}
#info-block .info-list li {float:left;display:block;width: 20%;height: 200px;background: #009ee0;text-align: center;cursor: pointer;}
#info-block .info-list li.active {background: #0ca9ea;cursor: default;}
#info-block .info-list li img {height: 46px;}
#info-block .info-list li .image {margin:0 15px;border-bottom: 1px solid #86d4f5;padding: 25px 0;margin-bottom: 20px;height: 105px}
#info-block .info-list li .info-title {text-transform: uppercase;font-size: 14px;display: block;color:white;letter-spacing: 4px;}
#info-block .info-list li .info-title strong {font-weight: bold;font-size: 18px;display: block;}
#info-block .description {background: #0ca9ea;padding: 30px;font-size: 16px;line-height: 1.5;color:white;}
#info-block .description li {display:none;}
#info-block .description li.active {display:block;}
#info-block .description li p {line-height: 2;}
#info-block .description-mobile {display:none;}

.home-news-container {}
.home-news-container .news-title {font-size: 30px;font-weight: 300;color:#000;text-transform: uppercase;position: relative;padding-bottom: 25px;margin-bottom: 25px;letter-spacing: 4px;margin-top: 40px}
.home-news-container .news-title:after {width: 72px;height: 2px;background: #0ca9ea;content: ' ';display: block;position: absolute;bottom: 0px;}
.home-news-container {margin: 80px 0 0px;background: url('../../img/news.png') no-repeat center top;padding-top: 20px}
.home-news-container p {float:left;width: 300px;line-height: 2;font-size: 16px;}
.home-news-container #mce-EMAIL {height: 50px;line-height: 50px;width: 242px;border: 1px solid #777;border-radius: 25px;font-size: 18px;padding: 0 25px;margin-bottom: 15px;text-align: center}
.home-news-container #mc-embedded-subscribe {height: 50px;line-height: 50px;border:0;width: 242px;text-align: center;border-radius: 25px;background: #0ca9ea;color:white;padding: 0;font-size: 18px;font-weight: normal;}
.home-news-container #mc_embed_signup div.mce_inline_error {display: none!important}
.home-news-container .news-content {float: left;width: 50%;}
.home-news-container .news-image {float: right;position: relative;}
.home-news-container .news-image h3 {position: absolute;width: 100%;text-align: center;display: block;color:#fff;bottom: 20px;font-size: 18px;text-transform: uppercase;font-weight: 300;letter-spacing: 4px;line-height: 1.3}
.home-news-container .news-image h3 span {display: block;font-size: 30px;letter-spacing: 5px;}
.home-news-container #mc_embed_signup {float:right;}

.home-bottom-container {background: url('../../img/home-bottom.jpg') no-repeat center 150px;}
.home-bottom-container .city-title {font-size: 30px;font-weight: 300;color:#000;text-transform: uppercase;letter-spacing: 4px;text-align: center;margin:50px 0;}
.home-bottom-container .left, .home-bottom-container .center, .home-bottom-container .right {float:left;}
.home-bottom-container .center {margin: 0 25px;}
.home-bottom-container .left > div, .home-bottom-container .center > div, .home-bottom-container .right > div {position: relative;margin-bottom: 22px;overflow: hidden;}
.home-bottom-container h3 {position: absolute;bottom: 20px;width: 100%;text-align: center;color:white;}
.home-bottom-container h3 a {color:white;font-size: 24px;display: block;font-weight: 300}
.home-bottom-container h3 span {display: block;font-size: 12px;text-transform: uppercase;margin-top:5px;font-weight: 400;letter-spacing: 2px;}
.home-bottom-container .other_cities {text-align: center;margin-bottom: 20px;}
.home-bottom-container .other_cities ul {display: inline-block;}
.home-bottom-container .other_cities ul li {display: inline-block;padding: 0 20px;font-size: 16px;}
.home-bottom-container .other_cities ul li a {color:white;}

.footer-container {margin-top: 30px;}
#block_contact_infos u {text-decoration: none;}

#index #search_block_top .btn.button-search::placeholder, #index #search_block_top .btn.button-search::-webkit-input-placeholder, #index #search_block_top .btn.button-search::-moz-placeholder, #index #search_block_top .btn.button-search:-ms-input-placeholder {color:#222e45!important;}


@media (min-width:1200px) {
	#index #header .row {height: 620px;}
	#index #columns {padding: 0;}
	#header_logo {max-width: 250px;}
	#index header .row #header_logo {width: 240px;padding-top: 20px;}
	#index #header .nav {padding-top: 18px;}
	#header .home-title {margin-top: 80px;}
	#header .home-title h1 {margin-top: 30px;margin-bottom: 40px;}
	#index #search_block_top {position: absolute;left:15px;bottom: 20px}
	#index #search_block_top #search_query_top {height: 60px;padding-top: 0;padding-bottom: 0;line-height: 60px;width: 480px;font-size: 18px;color:#222e45;-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;padding-left: 60px;border: 1px solid #d9dbdf}
	#index #search_block_top .btn.button-search {height: 60px;line-height: 60px;position: absolute;left:0px;top:0px;padding-top: 0;padding-bottom: 0;background: transparent;color:#222e45;width: 60px;padding-left: 10px;}
	#index #block_top_menu {position: absolute;right: 0px;bottom: 23px;}
	#index .sf-menu > li > a {font-size: 24px;font-weight: 300;color: #222e45;text-transform: none;padding: 17px 20px;}
	#index .sf-menu > li:hover > a, #index .sf-menu > li > a:hover {background: transparent;text-decoration: underline;}
	#info-block .description {height: 150px;}
	header .row #header_logo {margin-right: 100px;}
	.home-bottom-container .left > div {width: 280px}
	.home-bottom-container .center > div {width: 560px}
	.home-bottom-container .right > div {width: 280px}
	.home-news-container .news-content {width: 635px}
} 

@media (min-width:992px) and (max-width:1199px) {
	#index #header .row {height: 620px;}
	#index #columns {padding: 0;}
	#header_logo {max-width: 250px;}
	#index header .row #header_logo {width: 240px;padding-top: 20px;}
	#index #header .nav {padding-top: 18px;}
	#header .home-title {margin-top: 80px;}
	#header .home-title h1 {margin-top: 30px;margin-bottom: 40px;font-size: 46px;}	

	#index #search_block_top {position: absolute;left:15px;bottom: 20px}
	#index #search_block_top #search_query_top {height: 60px;padding-top: 0;padding-bottom: 0;line-height: 60px;width: 400px;font-size: 18px;color:#222e45;-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;padding-left: 60px;border: 1px solid #d9dbdf}
	#index #search_block_top .btn.button-search {height: 60px;line-height: 60px;position: absolute;left:0px;top:0px;padding-top: 0;padding-bottom: 0;background: transparent;color:#222e45;width: 60px;padding-left: 10px;}
	#index #block_top_menu {position: absolute;right: 0px;bottom: 23px;}
	#index .sf-menu > li > a {font-size: 24px;font-weight: 300;color: #222e45;text-transform: none;padding: 17px 20px;}
	#index .sf-menu > li:hover > a, #index .sf-menu > li > a:hover {background: transparent;text-decoration: underline;}


	.home-bottom-container .left > div {width: 240px}
	.home-bottom-container .center > div {width: 410px}
	.home-bottom-container .right > div {width: 240px}

	.home-news-container .news-content {width: 555px}
	.home-news-container .news-title {margin-top: 20px;}
	.home-news-container .news-image {max-width: 350px;margin-bottom: 20px;}
	.home-news-container .news-image img {max-width: 100%;}
}

@media (min-width: 768px) and (max-width: 991px) {
	#index #header .row {height: 620px;}
	#index #columns {padding: 0;}
	#header_logo {max-width: 250px;}	
	#index header .row #header_logo {width: 240px;padding-top: 20px;}
	#index #header .nav {padding-top: 18px;}
	#header .home-title {margin-top: 80px;}
	#header .home-title h1 {margin-top: 30px;margin-bottom: 40px;font-size: 46px;}	
	#page .sf-menu > li > a {padding: 0 14px;}
	#languages-block-top div.current {padding-right: 0;}

	#index #search_block_top {position: absolute;left:15px;bottom: 20px}
	#index #search_block_top #search_query_top {height: 60px;padding-top: 0;padding-bottom: 0;line-height: 60px;width: 240px;font-size: 18px;color:#222e45;-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;padding-left: 60px;border: 1px solid #d9dbdf}
	#index #search_block_top .btn.button-search {height: 60px;line-height: 60px;position: absolute;left:0px;top:0px;padding-top: 0;padding-bottom: 0;background: transparent;color:#222e45;width: 60px;padding-left: 10px;}
	#index #block_top_menu {position: absolute;right: 0px;bottom: 23px;}
	#index .sf-menu > li > a {font-size: 20px;font-weight: 300;color: #222e45;text-transform: none;padding: 17px 15px;}
	#index .sf-menu > li:hover > a, #index .sf-menu > li > a:hover {background: transparent;text-decoration: underline;}



	.home-bottom-container .left > div {width: 210px}
	.home-bottom-container .center > div {width: 250px}
	.home-bottom-container .center > div img {position: relative;left:-70px;}
	.home-bottom-container .right > div {width: 210px}	
	.footer-container #footer #social_block ul li {width: 33%!important;}
	.footer-container #footer #social_block ul li span {display:none;}
	.home-news-container .news-title {margin-top: 10px;margin-bottom: 18px;padding-bottom: 18px;}
	.home-news-container .news-image {max-width: 359px;margin-bottom: 30px;margin-top:10px;}
	.home-news-container .news-image img {max-width: 100%;}
	.home-news-container p {width: 325px;}
	.home-news-container #mc_embed_signup {float:left;}
}

@media (min-width: 768px) {
	.home-bottom-container .left > div img.small, .home-bottom-container .center > div img.small, .home-bottom-container .right > div img.small {display:none;}
}

@media (max-width: 767px) {
 	#index header .row #header_logo {float: left;}
 	#index #header .nav {position: absolute;top:14px;right: 115px;}
 	#social_block li a span, #block_various_links_footer h4, .footer-container .footer-separator {display:none;}
 	#block_various_links_footer {margin-top: 0;}
 	.footer-container #footer ul li {padding-bottom: 0;}
 	#block_various_links_footer li a, .footer-container #footer #block_contact_infos > div ul li > span {display:block;text-align: center;/*border:2px solid #0ca9ea;*/border-radius: 50px;padding: 20px!important;font-size:30px;color:#0ca9ea;margin-bottom: 10px;line-height:1.42857}
 	.footer-container .title_block_lg {font-size: 36px;}
 	#block_contact_infos {clear:both;}
 	#footer .title_block_lg {text-align: center}
 	.footer-container #footer #social_block {margin-bottom: 20px;}
 	.footer-container #footer #social_block .title_block_lg {margin-bottom: 0}
 	.footer-container #footer #social_block ul li {width: 25%;margin: 0 4%;}
 	.footer-container #footer #social_block ul li a {width: 100%;font-size: 50px;line-height: 100px}
 	.footer-container #footer #social_block ul li a:before {width: 100%}
 	#block_contact_infos u {display:none;}
 	#block_contact_infos ul {margin-bottom: 0;}
 	.home-bottom-container {background: #222e45}
 	.home-bottom-container .city-title {color:white;}
 	.home-bottom-container .left > div img.large, .home-bottom-container .center > div img.large, .home-bottom-container .right > div img.large {display:none;}
 	.home-bottom-container .center {margin: 0;}
 	.home-bottom-container .left, .home-bottom-container .center, .home-bottom-container .right {float: none;}
 	.home-bottom-container .left img, .home-bottom-container .center img, .home-bottom-container .right img {max-width: 100%;}
 	#index .home-about-container {background: #0098d9}
 	#info-block .info-list li {width: 100%;height: auto;}
 	#info-block .description {display:none;}
	.home-news-container {margin-top: 0;padding-top:0px;background: #f1f1f1;padding-bottom: 40px;}
 	.home-news-container .news-image {display:none;}
 	.home-news-container .news-content {width: 100%;}
 	.home-news-container .news-title {text-align: center;}
 	.home-news-container .news-title:after {left:50%;margin-left: -36px;}
 	.home-news-container p {width: 100%;float:none;text-align: center;margin-bottom: 20px;}
 	.home-news-container #mc_embed_signup {width: 242px;margin: 0px auto;float:none;}
 	.home-about-container .about-title {margin-top: 20px;}
 	#info-block .info-list li .image {float:left;margin:10px 15px 10px 0;width: 100px;text-align: center;border-bottom: 0;border-right: 1px solid #86d4f5;height: 90px;}
 	#info-block .description-mobile {clear: both;padding: 15px;color:white;text-align: left;}
 	#info-block .info-list li .info-title {float:left;text-align: left;}
	#info-block ul {margin-left: -15px;margin-right: -15px;}
 	#info-block .info-list li {background: #0098d9;padding-left: 0px;padding-right: 15px;}
 	#info-block .info-list li.active .description-mobile {display:block;}
 	#index #header {padding-bottom: 50px;}
 	#index header .row #header_logo, header .row #header_logo {width: 240px;padding-top: 15px;}
 	#index #search_block_top {width: 100%;}
 	#index #search_block_top #searchbox {width: 100%;margin: 0px auto;float:none;padding: 0 15px}
 	#index #search_block_top #search_query_top {height: 60px;padding-top: 0;padding-bottom: 0;line-height: 60px;width: 100%;font-size: 18px;color:#d7e5ff;-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;padding-left: 0px;border: 1px solid #d9dbdf;background: transparent;text-align: center}
 	#index #search_block_top .btn.button-search {height: 60px;line-height: 60px;position: absolute;left:15px;top:0px;padding-top: 0;padding-bottom: 0;background: transparent;color:#d7e5ff;width: 60px;padding-left: 10px;}
 	#index #header .home-title .button {height: 60px;padding:0;width: 100%;line-height: 60px;text-align: center;}
 	#search_block_top .form-control::-webkit-input-placeholder {color:#d7e5ff;opacity: 1;}
 	#search_block_top .form-control::-moz-placeholder {color:#d7e5ff;opacity: 1;}
 	#search_block_top .form-control:-moz-placeholder {color:#d7e5ff;opacity: 1;}
 	#search_block_top .form-control:-ms-input-placeholder {color:#d7e5ff;opacity: 1;}
	#header .home-title {margin-top: 50px;margin-bottom: 20px;}
	#header .home-title h1 {font-size: 40px;}
	#block_top_menu {position: absolute;top:0px;right: 0px;}
	#header .sf-menu {background: white;position: absolute;right: 0;width: 320px}
	#header .home-title h2 {margin-top: 0;}
	#index .cat-title {line-height: 25px;}
	#index #search_block_top .form-control::-webkit-input-placeholder {color:#d7e5ff;opacity: 1;}
	#index #search_block_top .form-control::-moz-placeholder {color:#d7e5ff;opacity: 1;}
	#index #search_block_top .form-control:-moz-placeholder {color:#d7e5ff;opacity: 1;}
	#index #search_block_top .form-control:-ms-input-placeholder {color:#d7e5ff;opacity: 1;}
}

@media (min-width: 500px) and (max-width: 767px) {
	#info-block .info-list li .info-title {font-size:24px;margin-top: 12px;}
	#info-block .info-list li .info-title strong {font-size:36px}
	#info-block .description-mobile p {font-size: 18px;}
}

@media (max-width: 550px) {
	#index #header .nav {position: absolute;top:50px;right: 10px;}	
}


@media (max-width: 499px) {
	#info-block .info-list li .image {width: 90px;height: 70px;padding: 10px 0;}
	#info-block .info-list li .info-title {letter-spacing: 2px;margin-top:22px;}
	#info-block .description-mobile p {font-size: 16px;}

}

@media (max-width: 450px) {
	#block_various_links_footer li a, .footer-container #footer #block_contact_infos > div ul li > span {font-size: 25px;}
	.home-bottom-container .left, .home-bottom-container .center, .home-bottom-container .right {width: 100%}
	.home-bottom-container .left > div, .home-bottom-container .center > div, .home-bottom-container .right > div {width: 100%}
	.home-news-container #mc_embed_signup, .home-news-container #mce-EMAIL, .home-news-container #mc-embedded-subscribe {width: 100%;}
	#header .home-title h1 {font-size:28px;}
	#header .home-title h2 {font-size: 18px;}
	.home-bottom-container .city-title {font-size: 24px;line-height: 1.5;margin: 20px 0;}
	.home-news-container .news-title {font-size: 24px;margin-top: 25px;}
	#index header .row #header_logo, header .row #header_logo {max-width: 220px;}
	#index .cat-title {line-height: 25px;}
}