/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 * 
 * @geedmo - Licensed under the MIT license
 */
 
 .yamm .nav,
 .yamm .collapse,
 .yamm .dropup,
 .yamm .dropdown {
 	position: static;
 }
 .yamm .container {
 	position: relative;
 }
 .yamm .dropdown-menu {
 	left: auto;
 }
 .yamm .yamm-content {
 	padding: 20px 30px;
 }
 .yamm .dropdown.yamm-fw .dropdown-menu {
 	left: 0;
 	right: 0;
 }


 #megamenu{
 	clear: both;
 }
 #megamenu .nav {
 	background: inherit;
 }
 #megamenu .section > h3.title{
 	font-size: 13px;
 	font-weight: bold;
 	line-height: 24px;
 	margin: 0 0 24px;
 }
 #megamenu .section .links li a{
 	display: block;
 	font-size: 14px;
 	font-weight: 400;
 	line-height: 1.42857;
 	padding: 8px 0;
 	-webkit-transition: all linear 0.2s;
 	-moz-transition: all linear 0.2s;
 	-ms-transition: all linear 0.2s;
 	-o-transition: all linear 0.2s;
 	transition: all linear 0.2s;
 }
 #megamenu .product-details .name{
 	font-size:13px;
 	line-height: 24px;
 	margin: 10px 0 0;
 	-webkit-transition: all linear 0.2s;
 	-moz-transition: all linear 0.2s;
 	-ms-transition: all linear 0.2s;
 	-o-transition: all linear 0.2s;
 	transition: all linear 0.2s;
 }
 #megamenu .product-details .price{
 	font-size:12px;
 	line-height: 24px;
 	font-weight: 900;
 }
 #megamenu .product-details .old-price{
 	font-weight: 500;
 }
 #megamenu .navbar{
 	z-index: 9;
 }

 #megamenu .animated {
 	-webkit-animation-duration: 300ms;
 	animation-duration: 300ms;
 }
 #megamenu #navbar-megamenu .nav > li > .megamenu-toggle {
 	position: absolute;
 	right: 0;
 	z-index: 99;
 	font-size: 16px;
 	padding: 0 20px;
 	cursor: pointer;
 	margin-top:10px;
 	display: none;
 }
#megamenu #navbar-megamenu .nav > li > .megamenu-toggle:before {
	font-family: 'FontAwesome';
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	content: "";
}
#megamenu #navbar-megamenu .nav > li.open > .megamenu-toggle:before {
	color: #FFFFFF;
	content: "";
}
@media (max-width: 768px){
	#megamenu #navbar-megamenu .nav > li > .megamenu-toggle {
	 	display: block;
	}
	#megamenu #navbar-megamenu .nav > li{
		position: relative;
	}
}